.text-danger{
    font-family: 'Princess Sofia', cursive;
    color: #e5904d!important;
    text-shadow: 1px 1px black;
}

#s1_header{background: #1e1109;}
#s2_trio{background: #fefaf7;}
#s3_painting_of_the_week{background: #26221f;}
#s4_about{background: #f0e9d7;}
#s5_prints{background: #fefad7;}
#s6_paintings{background: #101014;}
#s7_drawings{background: #f0e9d7;}
#s8_contact{background: #fefad7;}
#s9_footer{background: #414046;}
#s10_copyright{background: #000;}




/*---------- s1_header  ----------*/

#s1_header{
    background: url("images/bg-header.jpg");
    background-position: center bottom;
    background-attachment: no-repeat;
    background-attachment: cover;
    height: 100vh;
}

#s1_header{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  #s1_header aside{
    text-align: center;
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }
  @media (max-width: 992px) {
     #s1_header{ height: 50vh;}
     #s1_header .display-4{font-size: 28px;}
     #s1_header h5{font-size: 12px;}
    }
 


/*---------- s2_trio  ----------*/

.myGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

@media (max-width: 768px) {
    .myGrid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px;
    }
    .mySubGrid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 15px;
    }
}

@media (max-width: 576px) {
    .myGrid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, auto);
    }
    .mySubGrid{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, auto);
    }
}


/*---------- s3_painting_of_the_week  ----------*/

/*---------- s4_about  ---------*/

.s4_about_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
    grid-template-areas: 
        "img-selfportrait img-selfportrait img-selfportrait"
        "hd-about hd-about hd-about"
        "txt-about txt-about txt-about"
    ;    
}

.img-selfportrait{
    grid-area: img-selfportrait;
    grid-column: 2 / 3;
}
.hd-about{
    grid-area: hd-about;
    text-align: center;
}
.txt-about{
    grid-area: txt-about;
    line-height: 2;
}

@media (min-width: 768px) {
    .s4_about_grid{
        grid-template-areas: 
            "img-selfportrait hd-about txt-about"
            "img-selfportrait hd-about txt-about"
            "img-selfportrait hd-about txt-about"
        ;    
    }
    .img-selfportrait{
        grid-column: 1 / 2;
    }
    .hd-about{
        text-align: left;
        padding-left: 20px;
    }
    .txt-about{
        padding-left: 20px;
    }
    
}



/*---------- s5_prints  ---------*/

.my-thumbs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    justify-items: center;
}
.img-thumbs img{
    display: block;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
}
.my-thumbs .my-bk-image{
    box-shadow: 0 0 0 rgba(0,0,0,0);
}


/*---------- s6_paintings  ---------*/

.my-paintings-container{
    display: grid;
    min-height: 600px;
    background: white;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        "one one two three three"
        "one one four five five"
        "six seven seven five five"
        "six eight nine nine ten"
    ;
    grid-gap: 2;
    border: 2px solid white;
    outline: none;
}

.s6_paintings aside{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
}

.s6_paintings .windmill{
    width: 60%;
    justify-self: end;
    align-self: end;
}

.my-cursor{
    cursor: pointer;
    outline: none;
}

#s6_paintings aside{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "my-paintings-area"
        "windmill"
    ;
}

.my-paintings-area{
    grid-area: my-painting-area;
}

.windmill{
    grid-area: windmill;
}

@media (max-width: 576px){
    .windmill{
        display: none;
    }
}

.paintings-1{
    background: url("images/bg-paintings1.jpg"); 
    background-position: center;
    background-size: cover;
    grid-area: one;
}

.paintings-2{
    background: url("images/paintings3.jpg"); 
    background-position: center;
    background-size: cover;
    grid-area: two;
}

.paintings-3{
    background: url("images/paintings5.jpg"); 
    background-position: center;
    background-size: cover;
    grid-area: three;
}

.paintings-4{
    background: url("images/paintings4.jpg"); 
    background-position: center;
    background-size: cover;
    grid-area: four;
}

.paintings-5{
    background: url("images/paintings3.jpg"); 
    background-position: center;
    background-size: cover;
    grid-area: five;
}

.paintings-6{
    background: url("images/bg-paintings2.png"); 
    background-position: center;
    background-size: cover;
    grid-area: six;
}

.paintings-7{
    background: url("images/paintings3.jpg"); 
    background-position: center;
    background-size: cover;
    grid-area: seven;
}

.paintings-8{
    background: url("images/paintings4.jpg"); 
    background-position: center;
    background-size: cover;
    grid-area: eight;
}

.paintings-9{
    background: url("images/paintings6.png"); 
    background-position: center;
    background-size: cover;
    grid-area: nine;
}

.paintings-10{
    background: url("images/paintings5.jpg");
    background-position: center;
    background-attachment: cover;
    grid-area: ten;
}




/*---------- s7_drawings  ---------*/

/*---------- s8_contact  ---------*/

.contact-copy{grid-area: contact-copy;}
.contact-map{grid-area: contact-map;}
.contact-picture{grid-area: contact-picture;}

.contact_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template: 
        "contact-copy contact-map contact-map"
        "contact-picture contact-map contact-map"
    ;
}

@media (max-width: 768px) {
    .contact_grid{
        grid-template-columns: repeat(2, auto);
        grid-auto-rows: repeat(3, auto);

        grid-template: 
            "contact-picture contact-copy"
            "contact-map contact-map"
            "contact-map contact-map"
        ;
    }
    .contact-picture{
        justify-self: end;
    }
}

@media (max-width: 576px) {
    .contact_grid{
        grid-template-columns: auto;
        grid-auto-rows: repeat(4, auto);

        grid-template: 
            "contact-picture" 
            "contact-copy"
            "contact-map "
            "contact-map"
        ;
    }

    .contact-picture{
        transform: scaleX(-1);
        justify-self: center;
    }

    .contact-copy{
        text-align: center;
    }

}


/*---------- s9_footer  ---------*/

.s9_footer_grid{
    font-size: small;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-gap: 10px;
    grid-template-areas: 
        "footer_hours"
        "footer_menu"
        "footer_museum"
        "footer_painting_names"
        "footer_links"
        "footer_img"
    ;
}

.footer_museum h1{
    text-align: center;
}

.footer_museum, .footer_links{
    flex-direction: row-reverse;
    text-align: right;
}

.footer_img{
    width: 50%;
    justify-self: flex-end;
}

.footer_hours{
    text-align: left;
}

@media(max-width: 767px) {
    .footer_menu, .footer_museum, .footer_painting_names, .foooter_links{
        border-top: 1px dashed black;
        padding-top: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .footer_img{
        transform: scaleX(-1);
    }

    .footer_hours{
        text-align: center;
    }

}

@media(min-width: 768px) {
    .s9_footer_grid{
        font-size: initial;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "footer_hours footer_img"
            "footer_menu footer_museum"
            "footer_painting_names footer_links"
    }

    .footer_menu, .footer_museum, .foooter_links h1{
        flex: none;
        padding-top: 0;
        text-align: left;

    }
}

/*---------- s10_copyright  ---------*/